<nav id="nav-bar">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="https://welcome.realdevsquad.com/" target="_blank" rel="noopener noreferrer">Welcome</a>
    </li>
    <li>
      <a href="https://www.realdevsquad.com/events.html" target="_blank" rel="noopener noreferrer">Events</a>
    </li>
    <li>
      <a href="https://members.realdevsquad.com/" target="_blank" rel="noopener noreferrer">
        Members
      </a>
    </li>
    <li>
      <a href="https://crypto.realdevsquad.com/" target="_blank" rel="noopener noreferrer">Crypto</a>
    </li>
    <li class="register">
      <LinkTo @route="user-registration">
        Register
      </LinkTo>
    </li>
  </ul>
</nav>